.wrap
 %h1 チャットグループが作成されました。
 #chat__side
  .chat__side__var
   .chat__side__var__user
    %p 木村

  .chat__side__group
   .chat__side__group__name 朝
   .chat__side__group__text おはよう

 #main
  .main__header
   .main__header__group
    .main__header__group__name 朝
    .main__header__member Members: kimura
   %a{class: "main__header__edit-blue", href: "#"}Edit

  .main__body
   .main__body__member 見坂
   .main__body__date 2017/06/01
   .main__body__comment なるほど

   .bottom__form
    %input{class: "bottom__form__text",type: "text",placeholder: "Type a message",name: ""}
     %input{class: "bottom__form__text__submit",type: "submit",value: "send"}
     %i.fa.fa-picture-o

